@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.danger {
  color: #dc2626; /* Tailwind red-600 */
  height: 1.25rem;
  width: 1.25rem;
}
